<%
let reversed = post_meta === "hpr";
let [horizontalClasses, horizontalAClasses, horizontalDivClasses] = post_meta.includes("hp") ?
        [" d-md-flex align-items center", " img-2", " text-2"] : ["", "", ""];
let [horizontalReversedAClass, horizontalReversedDivClass] =  post_meta === "hpr" ?
        [" order-md-last", " text-md-right"] : ["", "", ""];
let verticalReversed = post_meta === "vpr" ? " d-flex flex-column-reverse" : "";
 %>

<div class="blog-entry ftco-animate <%= horizontalClasses %> <%= verticalReversed %>">
    <a href="/posts/<%= post.id %>" class="img <%= horizontalAClasses %> <%= horizontalReversedAClass %>" style="background-image: url(images/<%= post.image %>);"></a>
    <div class="text p-4 <%= horizontalDivClasses %> <%= horizontalReversedDivClass %>">
        <h3 class="mb-2"><a href="/posts/<%= post.id %>"><%= post.title %></a></h3>
        <div class="meta-wrap">
            <p class="meta">
                <span><i class="icon-calendar mr-2"></i><%= post.date %></span>
                <span><a href="/posts/<%= post.id %>"><i class="icon-folder-o mr-2"></i><%= post.category %></a></span>
                <span><i class="icon-comment2 mr-2"></i><%= post.comments %>/span>
            </p>
        </div>
        <p class="mb-4"><%= post.preview %></p>
        <p><a href="/posts/<%= post.id %>" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
    </div>
</div>